ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
    color: rgb(60, 131, 1);
  }

div.header{
    text-align: center;
}

div.title{
    text-align: center;
}

div.introduction{
    text-align: center;
}
div.description{
    line-height:250%;
    margin-left: 20%;
    height: 300px;
}

div.part{
    height: 800px;
}


h1 {
    color: rgb(149, 192, 114);
    text-shadow: 2px 2px 5px #000000;
  }
img{
    border: solid;
    box-shadow: 10px 10px 5px grey;
    border-width: 10px;
    border-color: aliceblue;

}

hr {
    width: 80%; 
    margin-top: 2em; 
    margin-bottom: 2em;
    border-top: 1px dashed;
}

body{
    background-color: rgb(228, 255, 198);
}

ul.list_display {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }