.no-break {page-break-before: avoid;} /* for epubs */
div.chapter {page-break-before: always; margin-top: 4em;}
hr {width: 80%; margin-top: 2em; margin-bottom: 2em;}


a:link {color:rgb(81, 119, 245); text-decoration:none}
a:visited {color:rgb(111, 155, 98); text-decoration:none}
a:hover {color:rgb(247, 177, 248)}


h1, h2, h3, h4, h5 {text-align: center; font-style: normal; font-weight:
    normal; line-height: 1.5; margin-top: .5em; margin-bottom: .5em;}
    
    h1 {font-size: 300%;
        margin-top: 0.6em;
        margin-bottom: 0.6em;
        word-spacing: 0.2em;
        text-indent: 0em;
        font-family: verdana;
        font-weight: bold;}
    h2 {
        font-size: 150%; 
        margin-top: 2em; 
        margin-bottom: 1em;
        font-family: verdana}
    h3 {font-size: 130%; 
        margin-top: 1em;
        font-family: verdana}
    h4 {font-size: 120%;
        font-family: verdana}
    h5 {font-size: 110%;
        font-family: verdana}

body { margin-left: 20%;
    margin-right: 20%;
    text-align: justify; 
     background-color: rgb(248, 237, 206);
    background-image: url("paper.gif");}

div.begin{
    margin-left: -15%;
    width: 400px;
    height:auto;
    font-style:italic;
    font-size: 1em;

}

div.end{
    margin-left: -15%;
    width: 600px;
    height:auto;
    font-style:italic;
    font-size: 1em;
}

p {text-indent: 2em;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 1.2em; 
    line-height:150%;
    font-family: Arial;
    padding: auto;}

ul.note_list{
    font-size: 1.2em;
    line-height:150%;

}

div.trnote_chapter{
    background-color: rgb(245, 244, 198);
    border: solid;
    border-width: 1px;
}

pre.begin{
    font-size: 1em;
    width: 600px;
    height:auto;
    font-style:italic;
    font-size: 1em;
    margin-left: -15%;
}

img {
    border: 5px solid #555;
  }

pre.end{
    font-size: 1em;
    width: 600px;
    height:auto;
    font-style:italic;
    font-size: 1em;
    margin-left: -15%;
}
